<html>
    <body>
        <h1>${msg.getMessage("mail.from")}:</h1>
        <hr>
        <h3>${msg.getMessage("mail.hello")}</h3>
        <p>${msg.getMessage("mail.question_answer.description")}</p>
        <ul>
            <li>${msg.getMessage("mail.question_answer.pet")}: <a href="${petURL}">${petName}</a></li>
            <li>${msg.getMessage("mail.question_answer.user")}: <a href="${userURL}">${userUsername}</a></li>
            <li>${msg.getMessage("mail.question_answer.question")}: <p>${question}</p></li>
            <li>${msg.getMessage("mail.question_answer.answer")}: <p>${answer}</p></li>
        </ul>
        <a href="${petURL}">${msg.getMessage("mail.question_answer.clickHere")}</a>
        <p>${msg.getMessage("mail.goodbye")}</p>
        <hr>
        <small>${msg.getMessage("mail.wrongMail")}</small>
    </body>
</html>