.login-register-container {
    max-width: 35rem;
    margin: inherit;
}

#image-modal img {
    max-width: 100%;
    max-height: 100%;
}

.page-content .section {
    padding-top: 5rem;
}

.edit-anchor {
    position: absolute;
    border: 1px solid #ced2d6;
    border-radius: 5px;
    right: 40px;
    top: 15px;
    padding: 6px 10px 6px 10px;
    background: #e0e0e0;
    text-decoration: none;
    color: black;
}

.edit-anchor:hover {
    background-color: #bdbdbd;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.image-preview-container {
    background-color: #e7e9ea;
    margin-top: 15px;
    border-radius: 10px;
}

.pet-photo-preview {
    max-width: 200px;
    max-height: 200px;
    margin: 1rem;
}

.pet-photo {
    max-width: 200px;
    max-height: 200px;
}

.page-content {
    /*margin-bottom: 3rem;*/
    margin-top: 2rem;
    min-height: 100%;
    /*padding-bottom: 20rem;*/
}

#imageCarousel {
    margin-bottom: 5rem;
}

.animal-list-card {
    max-width: 18rem;
}

.search-tools {
    min-width: 20rem;
}

.darkblue-action:hover
{
    color:white;
    text-decoration:none;
    cursor:pointer;
}

.darkblue-action{
    background-color: #4a658e;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-decoration: none
}

.darkblue-action:hover{
    background-color: #2d5184;
}

.darkblue-button{
    background-color: #4a658e;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border:none
}

.darkblue-button:hover {
    background-color: #2d5184;
}

.blue-button{
    background-color: #2660bf;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border:none
}

.blue-button:hover {
    background-color: #0a4cbf;
}

html,body {
    /*display: flex;*/
    /*flex-flow: column;*/
    height: 100%;
    background: #E0E0E0;
}

.title-style{
    font-family: verdana;
    text-align: center;
}

.title-style h6{
    opacity: 50%;
}

.card-color{
    background: #dbe2ef;
}

.footer {
    background-color: #222831;
    padding: 10px;
    margin-top: 3rem;
    /*flex-grow : 1;*/
    color: white;
    font-family: verdana;
}

.footer-link a:visited{
    color: rebeccapurple;
}

.footer-description{
    font-family: verdana;
    font-size: 12pt;
    list-style-type:none
}


.header {
    background-color: #222831;
    color: white;
}

.header h1 {
    font-family: verdana;
    font-size: 300%;
    position: relative;
    top: 7px;
    left: 10px;
}

.header h4 {
    font-family: verdana;
    font-size: 125%;
    position: relative;
    top: 25px;
    left: 35px;
    display: block;
}

.float-up{
    margin-top: 0;
}

.nav-link{
    text-decoration: none;
    color: white;
    outline: 0;
}

.content-disclaimer{
    background: lightgrey;
    font-family: verdana;
    font-size: 10pt;
}

.resolved{
 opacity: 50%;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.delete-image-select{
    position: relative;
    display: inline-flex;
    margin: 5px
}

.delete-image-select img{
    border: 5px white solid;
}

.delete-image-select:hover {
    cursor: pointer;
}

.image-checked img{
    border: 5px #c72c2c solid;
}

.image-checkbox{
    display:none;
}

.revert-input-anchor{
    padding: 10px;
    background: #e2dada;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px #cac1c1 solid;
    text-decoration: none;
    display: none;
}

.revert-input-anchor:hover{
    background-color: #a59d9d;
    cursor: pointer;
}

.input-modifiable-div {
    display: flex;
}

.input-modified.input-modifiable-div input {
    border-color: #a5a522;
}

.input-modified.input-modifiable-div select {
    border-color: #a5a522;
}

.input-modified.input-modifiable-div input.is-invalid {
    border-color: #f63434;
}

.input-modified.input-modifiable-div select.is-invalid {
    border-color: #f63434;
}

.input-modified.input-modifiable-div .revert-input-anchor {
    display: inline;
}

.text-error{
    color: #f63434;
    font-size: small;
}

/*.button {*/
/*    text-decoration: none;*/
/*    background-color: #EEEEEE;*/
/*    color: #333333;*/
/*    padding: 2px 6px 2px 6px;*/
/*    border-top: 1px solid #CCCCCC;*/
/*    border-right: 1px solid #333333;*/
/*    border-bottom: 1px solid #333333;*/
/*    border-left: 1px solid #CCCCCC;*/
/*}*/

/*.pn {*/
/*    color: black;*/
/*}*/

.admin-header{
    background-color: #2b5a5d;
    color: white;

}

.admin-header h1 {
    font-family: verdana;
    font-size: 300%;
    position: relative;
    top: 7px;
    left: 10px;
}

.admin-header h4 {
    font-family: verdana;
    font-size: 125%;
    position: relative;
    top: 25px;
    left: 35px;
    display: block;
}

.error{
    color: red;
}



.btn-circle {
    display:block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.text-whitesmoke{
    color: whitesmoke;
}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}