.login-register-container {
    max-width: 35rem;
    margin: inherit;
}

#image-modal img {
    max-width: 100%;
    max-height: 100%;
}

.page-content .section {
    padding-top: 5rem;
}

.pet-photo {
    max-width: 200px;
    max-height: 200px;
}

.page-content {
    /*margin-bottom: 3rem;*/
    margin-top: 2rem;
    min-height: 100%;
    /*padding-bottom: 20rem;*/
}

#imageCarousel {
    margin-bottom: 5rem;
}

.animal-list-card {
    max-width: 18rem;
}

.search-tools {
    min-width: 20rem;
}

html,body {
    /*display: flex;*/
    /*flex-flow: column;*/
    height: 100%;
    background: #E0E0E0;
}

.title-style{
    font-family: verdana;
    text-align: center;
}

.title-style h6{
    opacity: 50%;
}

.card-color{
    background: #dbe2ef;
}

.footer {
    background-color: #222831;
    padding: 10px;
    margin-top: 3rem;
    /*flex-grow : 1;*/
    color: white;
    font-family: verdana;
}

.footer-link a:visited{
    color: rebeccapurple;
}

.footer-description{
    font-family: verdana;
    font-size: 12pt;
    list-style-type:none
}


.header {
    background-color: #222831;
    color: white;
}

.header h1 {
    font-family: verdana;
    font-size: 300%;
    position: relative;
    top: 7px;
    left: 10px;
}

.header h4 {
    font-family: verdana;
    font-size: 125%;
    position: relative;
    top: 25px;
    left: 35px;
    display: block;
}

.float-up{
    margin-top: 0;
}

.nav-link{
    text-decoration: none;
    color: white;
    outline: 0;
}

.content-disclaimer{
    background: lightgrey;
    font-family: verdana;
    font-size: 10pt;
}

.resolved{
 opacity: 50%;
}

.notify-bubble {
    position: absolute;
    top: 22px;
    right: -35px;
    padding: 2px 5px 2px 5px;
    background-color: forestgreen;
    color: white;
    font-size: 0.65em;
    border-radius: 50%;
}

.notify-container {
    position: relative;
    display: inline-block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}