<html>
    <body>
        <p>$bodyMessages.getMessage("activate_account.welcome")</p>
        <p>$bodyMessages.getMessage("activate_account.username"): ${username}.</p>
        <p>$bodyMessages.getMessage("activate_account.link") <a href="${URLToken}"> ${URLToken}</a></p>
        <p>$bodyMessages.getMessage("goodbye")</p>
    </body>
</html>