<html>
    <body>
    <p>${requesterMsg}: <a href="${ownerURL}">${ownerUsername}</a>.</p>
        <p>${petMsg}: <a href="${petURL}">${petName}</a>.</p>
        <p><a href="${requestURL}">${requestMsg}</a> </p>
        <p>${goodbyeMsg}</p>
    </body>
</html>