<html>
    <body>
        ${username},
        <p>$bodyMessages.getMessage("reset_password.link")<a href="${URLToken}"> ${URLToken}</a></p>
        <p><a href="${URL}">$bodyMessages.getMessage("reset_password.info.site")</a> </p>
        <p>$bodyMessages.getMessage("goodbye")</p>
    </body>
</html>